button {
    border: 0;
}

.widget {
    background: transparent;
    padding: 10px;
}

.avatar-list {
    display: flex;
}

.avtar {
    position: relative;
    z-index: 1;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid #fff;
    cursor: pointer;
}

.avtar img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-size: cover;
}

.avtar:not(:first-child) {
    margin-left: -10px;
}

.avtar:hover {
    z-index: 2;
    border: none;
    scale: 1.02;
}

.avtar::before {
    content: attr(data-content);
    position: absolute;
    bottom: 48px;
    left: 50%;
    translate: -50% 10px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    padding: 6px;
    border-radius: 3px;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    transition: .3s;
}

.avtar:not(.plus):hover::before {
    opacity: 1;
    visibility: visible;
    translate: -50% 0;
}

.avtar.plus {
    display: grid;
    place-items: center;
    background: var(--dark-color);
    color: var(--main-color);
    font-size: 12px;
    font-weight: 500;
}