.container {
  max-width: 1099px;
  margin: 0 auto;
}

.section {
  padding: 4rem 0 2rem;
}

.title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  text-align: center;
}

.subtitle {
  font-size: var(--small-font-size);
  color: var(--dark-color);
}

.link {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 14px;
}

.devider {
  height: 1px;
  background-color: #ccc;
}