.stat_container {
    margin-top: 10px;
    border-radius: 1rem;
    padding: 0 .8rem .5rem;
    background: var(--container-color);
}

.progress_content {
    margin: 10px 0;
}

.task_progress_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.progress_title {
    font-size: 15px;
}

.progress_complete_percent {
    font-size: 16px;
    font-weight: 600;
}