@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 4rem;

  --container-color: #fff;
  --body-color: #efefef;
  --main-color: #6175fa;
  --light-main-color: #d7ddff;
  --deep-gray-color: #aaa9a9;
  --secondary-color: #6ecb96;
  --third-color: #f57b34;
  --dark-color: #1e202c;

  /*============== Fonts ===============*/
  --body-font: "Poppins", sans-serif;

  /*============ SIZES ============*/
  --body-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*============ Font Weight ==============*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*=============== Margins ================*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*============= Z-Index ===============*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: var(--container-color);
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border: 3px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}